@{
    ViewBag.Title = "Home Page";
}
<br />
<br />
<br />
<br />
<br />
<br />
<ul class="noDotList row">
    <li>
        <img style="padding-right: 140px" src="/Logos/d1.png" />
        <img style="padding-right: 140px" src="/Logos/d2.png" />
        <img style="padding-right: 140px" src="/Logos/d2.png" />
    </li>
</ul>