body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.noDotList {
    list-style-type: none;
}
.headerChange {
    background-image: url('../Logos/navbar.png');
    height: 100px;
}
.footerChange {
    background-image: url('../Logos/footer.png');
    height: 100px;
}
.inputChange {
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    height: 48px;
    width: 300px;
    padding-right: 50px;
}
.search-button {
    margin-left: -50px;
    background: none;
    color: black;
    border: 0;
}
.uploadButton1 {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #73a353;
    height: 55px;
}
.uploadButton2 {
    background-color: #73a353;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    width: 300px;
    font-size : 30px;
    padding-right: 150px;
}